.widget {
  display: 'flex';
  flex-direction: 'column';
  /* width : '300px'; */
  border: '1px solid black';
}

.city-input {
  /* add laterr */
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day {
  flex: 1;
}
